on early-init
    start ueventd

on init
    sysclktz 0
    loglevel 8

# setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /mnt/sdcard
    export ASEC_MOUNTPOINT /mnt/asec
    export LOOP_MOUNTPOINT /mnt/obb
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/core-junit.jar

# insmod fsr/rfs modules
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko
    insmod /lib/modules/sec_param.ko

# Backward compatibility
    symlink /system/etc /etc
    symlink /sys/kernel/debug /d

# Right now vendor lives on the same filesystem as system,
# but someday that may change.
    symlink /system/vendor /vendor

# create mountpoints
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system

# Create cgroup mount point for cpu accounting
    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

# Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard

    mkdir /system
    mkdir /data 0771 system system
    mkdir /persist 0771 system system
    mkdir /cache 0770 system cache
    mkdir /config 0500 root root

    # Directory for putting things only root should see.
    mkdir /mnt/secure 0700 root root

    # Directory for staging bindmounts
    mkdir /mnt/secure/staging 0700 root root

    # Directory-target for where the secure container
    # imagefile directory will be bind-mounted
    mkdir /mnt/secure/asec  0700 root root

    # Secure container public mount points.
    mkdir /mnt/asec  0700 root system
    mount tmpfs tmpfs /mnt/asec mode=0755,gid=1000

    # Filesystem image public mount points.
    mkdir /mnt/obb 0700 root system
    mount tmpfs tmpfs /mnt/obb mode=0755,gid=1000

    #+mount rootfs
    #mount rootfs rootfs / ro remount

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0


# Set permissions on block devices
    chmod 0770 /dev/stl9
    chmod 0770 /dev/stl10
    chmod 0770 /dev/stl11
    chmod 0770 /dev/stl12
    chmod 0770 /dev/stl13
    chmod 0770 /dev/stl14
    chmod 0770 /dev/stl15

    chmod 0770 /dev/bml7
    chmod 0770 /dev/bml9
    chmod 0770 /dev/bml10
    chmod 0770 /dev/bml11
    chmod 0770 /dev/bml12
    chmod 0770 /dev/bml13
    chmod 0770 /dev/bml14
    chmod 0770 /dev/bml15

# Create cgroup mount points for process groups
    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0777 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024

    mkdir /dev/cpuctl/fg_boost
    chown system system /dev/cpuctl/fg_boost/tasks
    chmod 0777 /dev/cpuctl/fg_boost/tasks
    write /dev/cpuctl/fg_boost/cpu.shares 1024

    mkdir /dev/cpuctl/bg_non_interactive
    chown system system /dev/cpuctl/bg_non_interactive/tasks
    chmod 0777 /dev/cpuctl/bg_non_interactive/tasks
    # 5.0 %
    write /dev/cpuctl/bg_non_interactive/cpu.shares 52

on fs
#+ TEST
    mount ext4 /dev/block/stl12 /system wait nodev noatime nodiratime noauto_da_alloc
    mount ext4 /dev/block/stl13 /data wait nosuid nodev noatime nodiratime noauto_da_alloc
    mount ext4 /dev/block/stl14 /cache wait nosuid nodev noatime nodiratime noauto_da_alloc

    mount ext4 mtd@system /system wait nodev noatime nodiratime noauto_da_alloc
    mount rfs mtd@userdata /dbdata nosuid nodev check=no
    mount ext4 mtd@cache /cache wait nosuid nodev noatime nodiratime noauto_da_alloc
    mount ext4 mtd@data /data/ wait nosuid nodev noatime nodiratime noauto_da_alloc

#+ Set readahead buffer sizes
    write /sys/block/stl12/queue/read_ahead_kb 4
    write /sys/block/stl13/queue/read_ahead_kb 4
    write /sys/block/stl14/queue/read_ahead_kb 4
    write /sys/devices/virtual/block/stl12/queue/read_ahead_kb 4
    write /sys/devices/virtual/block/stl13/queue/read_ahead_kb 4
    write /sys/devices/virtual/block/stl14/queue/read_ahead_kb 4

on post-fs
    # once everything is setup, no need to modify /
    mount rootfs rootfs / ro remount

    # We chown/chmod /data again so because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    #chown system system /persist
    #chmod 0771 /persist
    chmod 0666 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0666 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0666 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0666 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    # Create dump dir and collect dumps.
    # Do this before we mount cache so eventually we can use cache for
    # storing dumps on platforms which do not have a dedicated dump partition.
   
    #mkdir /data/dontpanic
    chown root log /data/dontpanic
    chmod 0750 /data/dontpanic

	# for Gps Clp certificates

    mkdir /data/clp
    chmod 0777 /data/clp

    # Collect apanic data, free resources and re-arm trigger
    copy /proc/apanic_console /data/dontpanic/apanic_console
    chown root log /data/dontpanic/apanic_console
    chmod 0640 /data/dontpanic/apanic_console

    copy /proc/apanic_threads /data/dontpanic/apanic_threads
    chown root log /data/dontpanic/apanic_threads
    chmod 0640 /data/dontpanic/apanic_threads

    write /proc/apanic_console 1

    # Collect ramconsole data
    #copy /proc/last_kmsg /data/dontpanic/last_kmsg
    chown root log /data/dontpanic/last_kmsg
    chmod 0640 /data/dontpanic/last_kmsg

    # Same reason as /data above
    chown system cache /cache
    chmod 0770 /cache

    # cache folder for bigger file than /cache
    mkdir /data/cache
    chown system cache /data/cache
    chmod 0770 /data/cache

    # This may have been created by the recovery system with odd permissions
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery

    chmod 0660 /dev/graphics/fb0

    #change permissions on vmallocinfo so we can grab it from bugreports
    chown root log /proc/vmallocinfo
    chmod 0440 /proc/vmallocinfo

    #change permissions on kmsg & sysrq-trigger so bugreports can grab kthread stacks
    chown root system /proc/kmsg
    chmod 0440 /proc/kmsg
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger

# create basic filesystem structure
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/bluetooth 0770 system system
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/vpn 0770 system system
    mkdir /data/misc/systemkeys 0700 system system
    mkdir /data/misc/vpn/profiles 0770 system system

    # Fix WiFi (make directories used by the wireless subsystem)
    mkdir /data/misc/wifi 0770 system wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets
    chown system wifi /data/misc/wifi/sockets
    chmod 770 /data/misc/wifi/sockets
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/system 0775 system system

    mkdir /data/local 0771 shell shell
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system
    mkdir /data/app-private 0771 system system
    mkdir /data/app 0771 system system
    chown system system /data/app
    chmod 0771 /data/app
    mkdir /data/property 0700 root root
    mkdir /data/radio 0770 radio radio
    mkdir /data/misc/sensors 0777 system misc
    # create log system
    mkdir /data/log  0777 root root
    chmod 0777 /data/log

# MBjdpark 2010.12.13 : Fixed problem with transferring carrier image to PDA in user mode
# CONFIG_IPC_GENERIC_PST
    #mkdir /preinstall/PST 0755 radio radio
    #chown radio radio /preinstall/PST
    #chmod 0755 /preinstall/PST

    # create dalvik-cache and double-check the perms
    mkdir /data/dalvik-cache 0771 system system
    chown system system /data/dalvik-cache
    chmod 0771 /data/dalvik-cache

    # create the lost+found directories, so as to enforce our permissions
    mkdir /data/lost+found 0770
    mkdir /cache/lost+found 0770

    # double check the perms, in case lost+found already exists, and set owner
    chown root root /data/lost+found
    chmod 0770 /data/lost+found
    chown root root /cache/lost+found
    chmod 0770 /cache/lost+found

    # create fumo
    #mkdir /cache/fumo 0770
    #chown system system /cache/fumo
    #chmod 0770 /cache/fumo

	# change the permissionsensor chips
	chmod 0660 /dev/proximity
	chmod 0660 /dev/mmc31xx
	chmod 0660 /dev/bma_accel
	chmod 0660 /dev/kr3dm_accel
	chmod 0666 /data/misc/sensors/ecs_nvm
	chmod 0666 /data/misc/sensors/accel_offset
	chmod 0660 /dev/ecompass_ctrl

	chown system system /dev/mmc31xx	
	chown system system /dev/kr3dm_accel	
	chown system system /dev/ecompass_ctrl	
	chown system system /dev/proximity	

	# give read permission for others
	# this allows dumpsate to execute procrank
	# remove this for final build!
	chmod 0444 /proc/kpagecount
	chmod 0444 /proc/kpageflags

    # allow net_raw to have access to /dev/socket directory
    chown root net_raw /dev/socket
    chmod 0775 /dev/socket

on boot
# basic network init
    ifup lo
    hostname localhost
    domainname localdomain

#+ set up some directories
    #mkdir /data/local
    #chmod 0777 /data/local
    #chown radio shell /data/local
    #mkdir /data/local/tmp
    #chmod 0777 /data/local/tmp
    #chown radio shell /data/local/tmp
    #mkdir /data/radio 0770 radio radio
    #chown radio radio 0770 /data/radio

# set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40

# bootsnd
    #setprop audioflinger.bootsnd 1
# end of bootsnd
# Define the oom_adj values for the classes of processes that can be
# killed by the kernel.  These are used in ActivityManagerService.
    setprop ro.FOREGROUND_APP_ADJ 0
    setprop ro.VISIBLE_APP_ADJ 1
    setprop ro.PERCEPTIBLE_APP_ADJ 2
    setprop ro.HEAVY_WEIGHT_APP_ADJ 3
    setprop ro.SECONDARY_SERVER_ADJ 4
    setprop ro.BACKUP_APP_ADJ 5
    setprop ro.HOME_APP_ADJ 6
    setprop ro.HIDDEN_APP_MIN_ADJ 7
    setprop ro.EMPTY_APP_ADJ 15

# Define the memory thresholds at which the above process classes will
# be killed.  These numbers are in pages (4k).
    setprop ro.FOREGROUND_APP_MEM 2048
    setprop ro.VISIBLE_APP_MEM 3072
    setprop ro.PERCEPTIBLE_APP_MEM 4096
    setprop ro.HEAVY_WEIGHT_APP_MEM 4096
    setprop ro.SECONDARY_SERVER_MEM 6144
    setprop ro.BACKUP_APP_MEM 6144
    setprop ro.HOME_APP_MEM 6144
    setprop ro.HIDDEN_APP_MEM 7168
    setprop ro.EMPTY_APP_MEM 10240

# Write value must be consistent with the above properties.
# Note that the driver only supports 6 slots, so we have combined some of
# the classes into the same memory level; the associated processes of higher
# classes will still be killed first.
    write /sys/module/lowmemorykiller/parameters/adj 0,1,2,4,7,15

    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4
    write /sys/module/lowmemorykiller/parameters/minfree 2048,3072,4096,6144,7168,10240

    # Set init its forked children's oom_adj.
    write /proc/1/oom_adj -16

    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_background_ratio  5

    # Permissions for System Server and daemons.
    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown radio system /sys/power/state
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max
    chown root radio /proc/cmdline

# sound text data file
    chmod 0777 /system/etc/audio/soundbooster.txt
    chmod 0777 /system/etc/audio/aeqcoe.txt
    chmod 0777 /system/etc/audio/lmfilter.txt
    chmod 0777 /system/etc/audio/eqfilter.txt
    chmod 0777 /system/etc/audio/situation.txt
    chmod 0777 /system/etc/audio/stream_headset.txt
    chmod 0777 /system/etc/audio/stream_speaker.txt

#Touch multi-touch permissions
    chmod 0666 /sys/class/sec/ts/firmware1

#Permissions for qmuxd
    chown radio radio /dev/smdcntl0
    chown radio radio /dev/smdcntl1
    chown radio radio /dev/smdcntl2

# +++++++++++++++++++++++++++++++++++++++++++

#Define modem related settings
    setprop ro.radio.use-ppp yes
# for Bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto

    chown bluetooth bluetooth /dev/uinput
    chmod 0660 /dev/uinput
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0

    chmod 0775 /sys/class/rfkill/rfkill0/state
    chmod 0775 /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state

    # chmod 6777 /system/bin/brcm_dutMode

# +++++++++++++++++++++++++++++++++++++++++++

    chown system system /sys/module/g_android/parameters/product_id
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/android_usb/composition
    chown system system /sys/devices/platform/android_usb/remote_wakeup

# MAX8899 headset detect
	chown radio system /sys/class/switch/h2w/state
	chown radio system /sys/class/switch/sec_earbutton/state

# Force Power Down
	chmod 0660 /sys/class/sec/pm/power_down
	chown root system /sys/class/sec/pm/power_down

# CPU Governor
	#chmod 0660 /sys/class/sec/cpu/cpu_gov
	#chown root system /sys/class/sec/cpu/cpu_gov

	chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

        write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
        write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold 95
#        write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/down_differential 3
        write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/sampling_rate 50000
        write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245760

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi    4095,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680
    setprop net.tcp.buffersize.lte     4094,87380,196608,4096,16384,196608
    setprop net.tcp.buffersize.evdo_b  4094,87380,262144,4096,16384,262144

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  262144
    write /proc/sys/net/core/wmem_max  262144

    class_start default

# for Wi-Fi
#MBmjkim 2011.01.17 : not used booting time
    #setprop wifi.interface wlan0
    #insmod /system/wifi/ar6000.ko "ifname=wlan0"
    #setprop wlan.driver.apmode "unloaded"

#  MBkjpark 2011.04.15 : CTS Permission fail issue (remove others write permission, so chown group)
	chown root system /sys/class/lightsensor/switch_cmd/lightsensor_file_cmd
	chown root system /sys/class/sec/ts/firmware
	chown root system /sys/class/sec/ts/raw
#  MBjslee 2011.04.17 : Factory CMD (Fuel Gauge Reset CMD)Permission fail 
	chown root system /sys/class/power_supply/battery/reset_soc

    #+ Permissions for GPS daemon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps

    #+ Include extra init file
    import /system/etc/init.local.rc

    #+ Run sysinit
    exec /system/bin/sysinit

    class_start default

## Daemon processes to be run by init.
##
service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
    console
    disabled
    user shell
    group log

on property:ro.secure=0
    start console

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
on property:persist.service.slate_mode=1
    write /sys/class/power_supply/battery/batt_slate_mode 1

on property:persist.service.slate_mode=0
    write /sys/class/power_supply/battery/batt_slate_mode 0

#-service playlogo /system/bin/playlogo
#-    user root
#-    oneshot

service servicemanager /system/bin/servicemanager
    user system
    critical
    onrestart restart zygote
    onrestart restart media

#-service playsound /system/bin/playsound
#-    user media
#-    group system
#-    disabled
#-    oneshot


service vold /system/bin/vold
    socket vold stream 0660 root mount
    ioprio be 2

service netd /system/bin/netd
    socket netd stream 0660 root system
    socket dnsproxyd stream 0660 root inet

service debuggerd /system/bin/debuggerd

service qmuxd /system/bin/qmuxd
    user radio
    group system radio inet

service ril-daemon /system/bin/rild
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag log graphics system

service gps-daemon /system/vendor/bin/gpsd
    user system
    group system inet

service DR-daemon /system/bin/drexe
    user root
    group system radio inet net_raw

service mobex-daemon /system/bin/npsmobex
    user root

service pppd_cdma /system/bin/pppd_runner
   user root
   group radio cache inet misc system
   disabled
   oneshot

service zygote /system/bin/app_process -Xzygote /system/bin --zygote --start-system-server
    socket zygote stream 666
    onrestart write /sys/android_power/request_state wake
    onrestart write /sys/power/state on
    onrestart restart media
    onrestart restart netd

service media /system/bin/mediaserver
    user media
    group system audio camera graphics inet net_bt net_bt_admin net_raw  qcom_oncrpc
    ioprio rt 4
    #-onrestart setprop audioflinger.bootsnd 0

service oovoo /system/bin/ovmservice
    user media
    group system audio camera graphics inet net_bt net_bt_admin


# Start Bluetooth =========================================================================
service dbus /system/bin/dbus-daemon --system --nofork
    socket dbus stream 660 bluetooth bluetooth
    user bluetooth
    group bluetooth net_bt_admin

service btld /system/bin/logwrapper /system/bin/btld -hb 3000000 -hp /dev/ttyHS0 -lpm 1
#    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service obexd /system/bin/logwrapper /system/bin/obexd
    #socket bluetooth stream 660 bluetooth bluetooth
    #socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let obexd drop uid to bluetooth with the right linux capabilities
#    user root
	group bluetooth net_bt_admin
	disabled
	oneshot

service bluetoothd /system/bin/logwrapper /system/bin/bluetoothd -n /etc/bluez/main.conf
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot
# End of Bluetooth =========================================================================

service abtfilt /system/bin/abtfilt -d -z -n -v -b -s
    user bluetooth
    group system bluetooth net_bt_admin inet
    disabled
    oneshot

service installd /system/bin/installd
    socket installd stream 600 system system

service racoon /system/bin/racoon
    socket racoon stream 600 system system
    # racoon will setuid to vpn after getting necessary resources.
    group net_admin
    disabled
    oneshot

service mtpd /system/bin/mtpd
    socket mtpd stream 600 system system
    user vpn
    group vpn net_admin net_raw
    disabled
    oneshot

service keystore /system/bin/keystore /data/misc/keystore
    user keystore
    group keystore
    socket keystore stream 666

service dumpstate /system/bin/dumpstate -s
    socket dumpstate stream 0660 shell log
    disabled
    oneshot

service bootanim /system/bin/bootanimation
    user graphics
    group graphics
    disabled
    oneshot


### WIFI START ###

on property:dev.bootcomplete=1
        stop dhcp-service
        start dhcp-service

service dhcp-service /system/bin/netcfg wlan0 dhcp
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKL
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dawext -W -w -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service hostapd /system/bin/hostapd /data/misc/wifi/hostapd.conf
    socket hostapd_athap0 dgram 660 wifi wifi
    group wifi inet
    oneshot
    disabled

service wlan_mac /system/bin/wlan_mac
    user system
    group system net_raw net_admin inet
    oneshot

service wlan_tool /system/bin/wlan_tool
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

### WIFI END ###

### BLUETOOTH START ###

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm --baudrate 3000000 --patchram /system/bin/BCM2070B0_002.001.032.0515.0537.hcd /dev/ttyHS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

### BLUETOOTH END ###

service memsicd /system/bin/memsicd
    user system
    group system
    oneshot

#+ create filesystems if necessary
service setup_fs /system/bin/setup_fs /dev/block/stl13 /dev/block/stl14
    user root
    group root
    oneshot
